USE [master]
GO
/****** Object:  Database [INVOICE_DB]    Script Date: 14/03/2026 15:59:59 ******/
CREATE DATABASE [INVOICE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INVOICE_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\INVOICE_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INVOICE_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\INVOICE_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INVOICE_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INVOICE_DB]
GO
USE [INVOICE_DB]
GO
/****** Object:  User [SmartS]    Script Date: 14/03/2026 15:59:59 ******/
CREATE USER [SmartS] FOR LOGIN [SmartS] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[INV_ITEM_CARD]    Script Date: 14/03/2026 16:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_ITEM_CARD](
	[ITEM_CARD_CODE] [varchar](40) NOT NULL,
	[ITEM_CARD_BARCODE] [varchar](40) NOT NULL,
	[ITEM_CARD_ARABIC_NAME] [varchar](200) NOT NULL,
	[ITEM_CARD_ENGLISH_NAME] [varchar](200) NULL,
	[ITEM_CARD_DESCRIPTION] [varchar](200) NULL,
	[ITEM_CARD_SALE_PRICE] [decimal](18, 0) NULL,
	[ITEM_CARD_COST_PRICE] [decimal](18, 0) NULL,
	[ITEM_CARD_TAX_PCNT] [decimal](18, 0) NULL,
	[CREATION_DATE] [datetime] NULL,
	[CREATION_USER] [varchar](200) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](200) NULL,
 CONSTRAINT [PK_INV_ITEM_CARD] PRIMARY KEY CLUSTERED 
(
	[ITEM_CARD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_TRANSACTIONS_DETAILS]    Script Date: 14/03/2026 16:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_TRANSACTIONS_DETAILS](
	[TRANS_NO] [int] NOT NULL,
	[TRANS_YEAR] [int] NOT NULL,
	[TRANS_TYPE_CODE] [int] NOT NULL,
	[TRANS_NO_DETAILS] [int] NOT NULL,
	[ITEM_CARD_CODE] [varchar](40) NOT NULL,
	[QTY_IN] [decimal](18, 2) NULL,
	[QTY_OUT] [decimal](18, 2) NULL,
	[INDIVIDUAL_PRICE] [decimal](18, 4) NULL,
	[DISCOUNT_PCNT] [decimal](10, 3) NULL,
	[DISCOUNT_AMT] [decimal](18, 4) NULL,
	[TAX_PCNT] [decimal](10, 3) NULL,
	[TAX_AMT] [decimal](18, 4) NULL,
	[TOTAL_AMT] [decimal](18, 4) NULL,
	[NET_AMT] [decimal](18, 4) NULL,
 CONSTRAINT [PK_INV_TRANSACTIONS_DETAILS] PRIMARY KEY CLUSTERED 
(
	[TRANS_NO] ASC,
	[TRANS_YEAR] ASC,
	[TRANS_TYPE_CODE] ASC,
	[TRANS_NO_DETAILS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_TRANSACTIONS_MASTER]    Script Date: 14/03/2026 16:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_TRANSACTIONS_MASTER](
	[TRANS_NO] [int] NOT NULL,
	[TRANS_YEAR] [int] NOT NULL,
	[TRANS_TYPE_CODE] [int] NOT NULL,
	[TRANS_TYPE] [int] NULL,
	[TRANS_DATE] [datetime] NULL,
	[REPRESENTATIVE_CODE] [int] NULL,
	[CUSTOMER_CODE] [int] NULL,
	[NOTE] [varchar](500) NULL,
	[PAYMENT_METHOD] [int] NULL,
	[TAX_TYPE] [int] NULL,
	[ENTRY_USER] [varchar](200) NOT NULL,
	[ENTRY_DATE] [datetime] NOT NULL,
	[UPDATE_USER] [varchar](200) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_INV_TRANSACTIONS_MASTER] PRIMARY KEY CLUSTERED 
(
	[TRANS_NO] ASC,
	[TRANS_YEAR] ASC,
	[TRANS_TYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CODE]    Script Date: 14/03/2026 16:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CODE](
	[CODE_MGR] [int] NULL,
	[CODE_MNR] [int] NULL,
	[CODE_DESC] [varchar](1000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[INV_ITEM_CARD] ([ITEM_CARD_CODE], [ITEM_CARD_BARCODE], [ITEM_CARD_ARABIC_NAME], [ITEM_CARD_ENGLISH_NAME], [ITEM_CARD_DESCRIPTION], [ITEM_CARD_SALE_PRICE], [ITEM_CARD_COST_PRICE], [ITEM_CARD_TAX_PCNT], [CREATION_DATE], [CREATION_USER], [UPDATE_DATE], [UPDATE_USER]) VALUES (N'1122', N'1122', N'ITEM 1', NULL, NULL, CAST(0 AS Decimal(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[INV_ITEM_CARD] ([ITEM_CARD_CODE], [ITEM_CARD_BARCODE], [ITEM_CARD_ARABIC_NAME], [ITEM_CARD_ENGLISH_NAME], [ITEM_CARD_DESCRIPTION], [ITEM_CARD_SALE_PRICE], [ITEM_CARD_COST_PRICE], [ITEM_CARD_TAX_PCNT], [CREATION_DATE], [CREATION_USER], [UPDATE_DATE], [UPDATE_USER]) VALUES (N'3344', N'3344', N'ITEM 2', NULL, NULL, CAST(0 AS Decimal(18, 0)), NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[INV_TRANSACTIONS_DETAILS] ([TRANS_NO], [TRANS_YEAR], [TRANS_TYPE_CODE], [TRANS_NO_DETAILS], [ITEM_CARD_CODE], [QTY_IN], [QTY_OUT], [INDIVIDUAL_PRICE], [DISCOUNT_PCNT], [DISCOUNT_AMT], [TAX_PCNT], [TAX_AMT], [TOTAL_AMT], [NET_AMT]) VALUES (0, 0, 0, 1, N'1122', NULL, CAST(10.00 AS Decimal(18, 2)), CAST(10.0000 AS Decimal(18, 4)), CAST(10.000 AS Decimal(10, 3)), CAST(10.0000 AS Decimal(18, 4)), CAST(0.000 AS Decimal(10, 3)), CAST(0.0000 AS Decimal(18, 4)), CAST(90.0000 AS Decimal(18, 4)), CAST(90.0000 AS Decimal(18, 4)))
INSERT [dbo].[INV_TRANSACTIONS_DETAILS] ([TRANS_NO], [TRANS_YEAR], [TRANS_TYPE_CODE], [TRANS_NO_DETAILS], [ITEM_CARD_CODE], [QTY_IN], [QTY_OUT], [INDIVIDUAL_PRICE], [DISCOUNT_PCNT], [DISCOUNT_AMT], [TAX_PCNT], [TAX_AMT], [TOTAL_AMT], [NET_AMT]) VALUES (1, 2026, 101, 1, N'1122', NULL, CAST(10.00 AS Decimal(18, 2)), CAST(10.0000 AS Decimal(18, 4)), CAST(1.000 AS Decimal(10, 3)), CAST(1.0000 AS Decimal(18, 4)), CAST(0.000 AS Decimal(10, 3)), CAST(0.0000 AS Decimal(18, 4)), CAST(99.0000 AS Decimal(18, 4)), CAST(99.0000 AS Decimal(18, 4)))
INSERT [dbo].[INV_TRANSACTIONS_DETAILS] ([TRANS_NO], [TRANS_YEAR], [TRANS_TYPE_CODE], [TRANS_NO_DETAILS], [ITEM_CARD_CODE], [QTY_IN], [QTY_OUT], [INDIVIDUAL_PRICE], [DISCOUNT_PCNT], [DISCOUNT_AMT], [TAX_PCNT], [TAX_AMT], [TOTAL_AMT], [NET_AMT]) VALUES (2, 2026, 101, 1, N'1122', NULL, CAST(10.00 AS Decimal(18, 2)), CAST(10.0000 AS Decimal(18, 4)), CAST(10.000 AS Decimal(10, 3)), CAST(10.0000 AS Decimal(18, 4)), CAST(0.000 AS Decimal(10, 3)), CAST(0.0000 AS Decimal(18, 4)), CAST(90.0000 AS Decimal(18, 4)), CAST(90.0000 AS Decimal(18, 4)))
GO
INSERT [dbo].[INV_TRANSACTIONS_MASTER] ([TRANS_NO], [TRANS_YEAR], [TRANS_TYPE_CODE], [TRANS_TYPE], [TRANS_DATE], [REPRESENTATIVE_CODE], [CUSTOMER_CODE], [NOTE], [PAYMENT_METHOD], [TAX_TYPE], [ENTRY_USER], [ENTRY_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (1, 2026, 101, 1, CAST(N'2026-03-14T00:00:00.000' AS DateTime), 1, 2, N'Test Invoice', 1, 1, N'admin', CAST(N'2026-03-14T13:13:33.310' AS DateTime), N'admin', CAST(N'2026-03-14T15:39:15.057' AS DateTime))
INSERT [dbo].[INV_TRANSACTIONS_MASTER] ([TRANS_NO], [TRANS_YEAR], [TRANS_TYPE_CODE], [TRANS_TYPE], [TRANS_DATE], [REPRESENTATIVE_CODE], [CUSTOMER_CODE], [NOTE], [PAYMENT_METHOD], [TAX_TYPE], [ENTRY_USER], [ENTRY_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (2, 2026, 101, 1, CAST(N'2026-03-14T00:00:00.000' AS DateTime), 1, 1, N'Test Invoice', 1, 1, N'admin', CAST(N'2026-03-14T13:19:33.260' AS DateTime), NULL, NULL)
INSERT [dbo].[INV_TRANSACTIONS_MASTER] ([TRANS_NO], [TRANS_YEAR], [TRANS_TYPE_CODE], [TRANS_TYPE], [TRANS_DATE], [REPRESENTATIVE_CODE], [CUSTOMER_CODE], [NOTE], [PAYMENT_METHOD], [TAX_TYPE], [ENTRY_USER], [ENTRY_DATE], [UPDATE_USER], [UPDATE_DATE]) VALUES (3, 2026, 101, 1, CAST(N'2026-03-14T00:00:00.000' AS DateTime), 1, 1, N'Test Invoice', 1, 1, N'admin', CAST(N'2026-03-14T13:20:55.417' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SYS_CODE] ([CODE_MGR], [CODE_MNR], [CODE_DESC]) VALUES (1, 1, N'SALE')
INSERT [dbo].[SYS_CODE] ([CODE_MGR], [CODE_MNR], [CODE_DESC]) VALUES (1, 2, N'PURCHASE')
INSERT [dbo].[SYS_CODE] ([CODE_MGR], [CODE_MNR], [CODE_DESC]) VALUES (1, 0, N'TRANS_TYPE')
GO
USE [master]
GO
